<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Изменение товара</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Изменение товара</title>
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/main" class="nav-link px-2 link-secondary">Главная</a></li>
            <li><a href="/main/products" class="nav-link px-2 link-dark">Товары</a></li>
            <li><a href="/main/orders" class="nav-link px-2 link-dark">Мои заказы</a></li>
            <li><a href="/main/user" class="nav-link px-2 link-dark">Аккаунт</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <a href="/logout" >
                <button type="button" class="btn btn-outline-primary me-2">Выйти</button>
            </a>
        </div>
    </header>
</div>

<div class="container mt-5 mb-5">
    <h1>Измененить статус заказа</h1>
    <form th:action="@{/main/editOrder}"
          th:object="${order}" method="post">
        <input th:field="${order.id}" placeholder="id" hidden>
        <input th:field="${order.user}" placeholder="user" hidden>
        <input th:field="${order.product}" placeholder="product" hidden>
        <input th:text="${order.orderDate}" placeholder="orderDate" hidden>
        <input th:field="${order.amount}" placeholder="amount" hidden>
        <div class="row mb-3">
            <div class="col-sm-3">
                <h6 class="mb-0">Статус заказа</h6>
            </div>
            <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" th:field="${order.status}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-9 text-secondary">
                <button type="submit" class="btn btn-primary">
                    Готово
                </button>
            </div>
        </div>
    </form>
</div>

<footer class="text-muted py-5">
    <div class="container">
        <p class="float-end mb-1">
            <a href="#">Back to top</a>
        </p>
        <p class="mb-1">@prettygodboi</p>
    </div>
</footer>
</body>
</html>