<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Регистрация</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Регистрация</title>
</head>
<body>
<!--<h3>Добавить клиента</h3>-->
<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">Регистрация</div>
    <form th:action="@{/main/registration}"
          th:object="${user}" method="post">
        <label>
            <input th:field="${user.id}" placeholder="id" hidden>
        </label>
<!--        <label>-->
<!--            <input th:field="${user.login}" placeholder="login">-->
<!--        </label>-->
        <div class="form-group row">
            <label for="login" class="col-md-4 col-form-label text-md-right">Логин</label>
            <div class="col-md-6">
                <input type="text" id="login" th:field="${user.login}" class="form-control" name="login">
            </div>
        </div>
<!--        <label>-->
<!--            <input th:field="${user.email}" placeholder="email">-->
<!--        </label>-->
        <div class="form-group row">
            <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail</label>
            <div class="col-md-6">
                <input type="text" id="email_address" th:field="${user.email}" class="form-control" name="email-address">
            </div>
        </div>
<!--        <label>-->
<!--            <input th:field="${user.firstName}" placeholder="firstName">-->
<!--        </label>-->
        <div class="form-group row">
            <label for="user.first_name" class="col-md-4 col-form-label text-md-right">Имя</label>
            <div class="col-md-6">
                <input type="text" id="user.first_name" th:field="${user.firstName}" class="form-control" name="user.firstName">
<!--                <input th:field="${user.firstName}" placeholder="firstName">-->
            </div>
        </div>
        <div class="form-group row">
            <label for="second_name" class="col-md-4 col-form-label text-md-right">Фамилия</label>
            <div class="col-md-6">
                <input type="text" id="second_name" th:field="${user.secondName}" class="form-control" name="second_name">
            </div>
        </div>

        <!--        <label>-->
        <!--            <input th:field="${user.phoneNumber}" placeholder="phoneNumber">-->
        <!--        </label>-->
        <div class="form-group row">
            <label for="phone_number" class="col-md-4 col-form-label text-md-right">Номер телефона</label>
            <div class="col-md-6">
                <input type="text" id="phone_number" th:field="${user.phoneNumber}" class="form-control">
            </div>
        </div>
        <!--        <label>-->
        <!--            <input th:field="${user.secondName}" placeholder="secondName">-->
        <!--        </label>-->
<!--        <label>-->
<!--            <input th:field="${user.password}" placeholder="password">-->
<!--        </label>-->
        <div class="form-group row">
            <label for="login" class="col-md-4 col-form-label text-md-right">Пароль</label>
            <div class="col-md-6">
                <input type="text" id="password" th:field="${user.password}" class="form-control" name="password">
            </div>
        </div>
        <label>
            <select th:field="${user.roles}">
                <option th:each="role: ${roles}"
                        th:text="${role.name == 'ROLE_USER' ? 'Пользователь' : 'Администратор'}"
                        th:value="${role.id}">
                </option>
            </select>
        </label>
        <div class="col-md-6 offset-md-7 mt-1">
            <button type="submit" class="btn btn-primary">
                Готово
            </button>
        </div>
    </form>
</div>
</div>
</div>
</div>

</body>
</html>